<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547830533596-ke7j2mvufien87eq5b09o2q675i1f8pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547830533596-ke7j2mvufien87eq5b09o2q675i1f8pa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>547830533596-a7b505ohqu7paotp9tsqntth0b33mjf8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeRbwm0Llp6vwwxdMNLSt3njOJ7gjV4jA</string>
	<key>GCM_SENDER_ID</key>
	<string>547830533596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anisa.hifixit</string>
	<key>PROJECT_ID</key>
	<string>hifixit-66d2b</string>
	<key>STORAGE_BUCKET</key>
	<string>hifixit-66d2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547830533596:ios:47ddcff43dfd8eedd6d319</string>
	<key>DATABASE_URL</key>
	<string>https://hifixit-66d2b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>